#root {
  margin: 0 auto;
  text-align: center;
}

#tombol {
  background-color: whitesmoke;
  color: rgb(88, 81, 109);
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 6px rgba(130, 130, 200, 200);
}

#Cari {
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif ;
  padding: 2px 2px;
}